img{
  height: 100px;
  width: 100px;
  margin-left: 10px;
}
.WecomeMessage{
  margin-left: 50px;
  margin-top: 15px;
  font-style: italic;
  font-size: 32px;
}
.editprofilebutton{
  margin-top: 80px;
  margin-left: 20px;
  

}
.button1{
  background-color: rgb(230, 243, 243);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-color: antiquewhite;
  padding: 5px;
  font-size: 18px;
  
  
}
.profiledes{
    margin-top:50px;
}
#Nameget{
    margin-top:5px;
}